Repository danilowoz/danilowoz.com: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint

feat(oss): add section
  content/home-sections/open-source.yml
  content/site-config.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/GithubList.js
  src/components/Grid.js
  src/components/HomeHeader.js
  src/components/OpenSource.js
  src/components/Sections.js
  src/components/layout.css
  src/components/layout.js
  src/components/typography.js
  src/pages/blog.js
  src/pages/index.jsx
  yarn.lock
Due: npm run format, npm run lint

feat(blog): add section
  content/Advanced-blog-system-in-Gatsby/index.md
  content/Atomic-Design-with-React/index.md
  content/CSS-Display-Grid-and-Sketch-Layout/index.md
  content/home-sections/images/atomic-design-dribbble.jpg
  content/home-sections/images/skapen.jpg
  content/home-sections/images/validjs.png
  content/home-sections/images/vdb-app.jpg
  content/home-sections/images/vdb-site.png
  content/home-sections/projects.yml
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/BlogList.js
  src/components/BlogSection.js
  src/components/GithubList.js
  src/components/HomeHeader.js
  src/components/Instagram.js
  src/components/OpenSourceSection.js
  src/components/ProjectList.js
  src/components/ProjectSection.js
  src/components/Sections.js
  src/components/blog/bio.js
  src/components/blog/embed.css
  src/components/blog/embed.js
  src/components/blog/main-bio.css
  src/components/blog/main-bio.js
  src/components/blog/pills.css
  src/components/blog/pills.js
  src/components/layout.js
  src/components/section.css
  src/components/section.js
  src/components/typography.js
  src/components/wrap-root-element.js
  src/pages/blog-listing.css
  src/pages/blog.js
  src/pages/index.jsx
  src/templates/blog-post.js
  src/utils/dates.js
  yarn.lock
Due: npm run format, npm run lint

feat(design): sections
  content/Advanced-blog-system-in-Gatsby/index.md
  content/Atomic-Design-with-React/index.md
  package-lock.json
  src/components/BlogList.js
  src/components/BlogSection.js
  src/components/GithubList.js
  src/components/HomeHeader.js
  src/components/ProjectList.js
  src/components/Sections.js
  src/components/layout.js
  src/components/typography.js
  src/images/profile.jpg
Due: npm run format, npm run lint

feat(all): design
  content/home-sections/projects.yml
  content/site-config.js
  gatsby-config.js
  gatsby-node.js
  package.json
  src/components/ArticlesList.js
  src/components/ArticlesSection.js
  src/components/GithubList.js
  src/components/HomeHeader.js
  src/components/Instagram.js
  src/components/LabsSection.js
  src/components/LayoutContext.js
  src/components/OpenSourceSection.js
  src/components/ProjectList.js
  src/components/ProjectSection.js
  src/components/Sections.js
  src/components/layout.js
  src/components/typography.js
  src/images/behance.js
  src/images/dribbble.js
  src/images/github.js
  src/pages/index.jsx
  yarn.lock
Due: npm run format, npm run lint

feat(about): add section
  content/home-sections/about.yml
  content/site-config.js
  gatsby-node.js
  src/components/About.js
  src/components/ArticlesList.js
  src/components/GithubList.js
  src/components/Instagram.js
  src/components/LabsSection.js
  src/components/LayoutContext.js
  src/components/Sections.js
  src/components/typography.js
  src/images/email.js
  src/images/instagram.js
Due: npm run format, npm run lint

feat(mobile): update
  gatsby-node.js
  src/components/About.js
  src/components/ArticlesList.js
  src/components/ArticlesSection.js
  src/components/GithubList.js
  src/components/Grid.js
  src/components/HomeHeader.js
  src/components/LabsSection.js
  src/components/LayoutContext.js
  src/components/ProjectList.js
  src/components/Sections.js
  src/components/typography.js
Due: npm run format, npm run lint

fix(path): layout
  src/pages/index.jsx
Due: npm run format, npm run lint

feat(blog): post
  .gitignore
  content/Advanced-blog-system-in-Gatsby/index.md
  content/site-config.js
  gatsby-config.js
  package-lock.json
  src/components/About.js
  src/components/ArticlesList.js
  src/components/GithubList.js
  src/components/HomeHeader.js
  src/components/LayoutContext.js
  src/components/ProjectList.js
  src/components/Sections.js
  src/components/blog/bio.js
  src/components/blog/content.js
  src/components/blog/embed.css
  src/components/blog/embed.js
  src/components/blog/footer.js
  src/components/blog/header.js
  src/components/blog/index.js
  src/components/blog/main-bio.css
  src/components/blog/main-bio.js
  src/components/blog/pills.css
  src/components/blog/pills.js
  src/components/layout.js
  src/components/typography.js
  src/pages/index.jsx
  src/templates/blog-post.css
  src/templates/blog-post.js
  src/utils/dates.js
  src/utils/string.js
  static/prism-theme.css
  yarn.lock
Due: npm run format, npm run lint

feat(blog): post
  content/Atomic-Design-with-React/index.md
  content/CSS-Display-Grid-and-Sketch-Layout/index.md
  content/home-sections/projects.yml
  gatsby-config.js
  gatsby-node.js
  src/components/About.js
  src/components/ArticlesList.js
  src/components/GithubList.js
  src/components/LabsSection.js
  src/components/LayoutContext.js
  src/components/ProjectList.js
  src/components/blog/ArticleItem.js
  src/components/blog/content.js
  src/components/blog/footer.js
  src/components/layout.js
  src/components/typography.js
  src/templates/blog-post.js
  src/utils/abbreviateNumber.js
Due: npm run format, npm run lint

fix(mobile): adjusts
  content/Advanced-blog-system-in-Gatsby/index.md
  src/components/About.js
  src/components/GithubList.js
  src/components/HomeHeader.js
  src/components/LabsSection.js
  src/components/ProjectList.js
  src/components/Sections.js
  src/components/blog/ArticleItem.js
  src/components/blog/bio.js
  src/components/blog/content.js
  src/components/layout.js
  src/components/typography.js
  src/images/instagram.js
  static/robot.txt
Due: npm run format, npm run lint

feat(blog): style
  package-lock.json
  package.json
  src/components/GithubList.js
  src/components/Header.js
  src/components/blog/ArticleItem.js
  src/components/blog/content.js
  src/components/blog/footer.js
  src/components/blog/header.js
  src/components/layout.js
  src/components/typography.js
  src/templates/blog-post.js
Due: npm run format, npm run lint

feat(blog): add table of content
  content/Advanced-blog-system-in-Gatsby/index.md
  package-lock.json
  package.json
  src/components/blog/ArticleItem.js
  src/components/blog/TableOfContents.js
  src/components/blog/bio.js
  src/components/blog/index.js
  src/components/typography.js
  src/images/dribbble.js
  src/images/github.js
  src/templates/blog-post.js
  src/utils/removeEmoji.js
Due: npm run format, npm run lint

feat(blog): table of content
  src/components/blog/TableOfContents.js
  src/components/blog/content.js
  src/components/blog/header.js
Due: npm run format, npm run lint

fix(gatsby-node / react-keys): improves
  gatsby-node.js
  gatsby/create-posts.js
  gatsby/get-github-data.js
  gatsby/get-instagram-images.js
  src/components/About.js
  src/components/ArticlesList.js
  src/components/ArticlesSection.js
  src/components/Header.js
  src/components/HomeHeader.js
  src/components/LabsSection.js
  src/components/ProjectList.js
  src/components/blog/TableOfContents.js
  src/components/blog/footer.js
  src/images/twitter.js
  src/templates/blog-post.js
Due: npm run format, npm run lint

chore(dependencies): update
  gatsby-node.js
  package-lock.json
  package.json
Due: none

Improves
  package-lock.json
  package.json
  src/components/About.js
  src/components/ArticlesSection.js
  src/components/HomeHeader.js
  src/components/blog/footer.js
  src/components/blog/index.js
Due: npm run format, npm run lint

fix(codebase): improves
  gatsby-config.js
  package-lock.json
  package.json
  src/components/ArticlesSection.js
  src/components/HomeHeader.js
  src/components/blog/TableOfContents.js
  src/utils/removeEmoji.js
Due: npm run format, npm run lint

fix(blog): table of content
  gatsby-config.js
  package.json
  src/components/blog/TableOfContents.js
Due: npm run format, npm run lint

feat(content): update
  content/site-config.js
  src/components/HomeHeader.js
  src/components/blog/bio.js
  src/components/blog/content.js
  src/components/blog/footer.js
Due: npm run format, npm run lint

feat(data): update
  content/site-config.js
  gatsby-config.js
  package.json
Due: none

chore(script): deploy
  package-lock.json
  package.json
Due: none

chore(dependencies): audit
  package-lock.json
  package.json
Due: none

chore(env var): remove files
  .gitignore
Due: none

chore(deploy): to master
  package-lock.json
  package.json
  src/components/HomeHeader.js
  static/CNAME
Due: npm run format, npm run lint

fix(instagram image): download images
  .gitignore
  gatsby-config.js
  gatsby-node.js
  gatsby/get-instagram-images.js
  package-lock.json
  package.json
  src/components/About.js
Due: npm run format, npm run lint

fix(header): set short name
  src/components/Header.js
Due: npm run format, npm run lint

Seo improves
  content/Advanced-blog-system-in-Gatsby/index.md
  gatsby/create-posts.js
  gatsby/get-instagram-images.js
  package.json
  src/components/HomeHeader.js
  src/components/blog/TableOfContents.js
  src/components/blog/bio.js
Due: npm run format, npm run lint

feat(codebase): initial commit
  .babelrc
  .eslintrc.json
  .gitignore
  .huskyrc.json
  .prettierrc.js
  .vscode/settings.json
  README.md
  commitlint.config.js
  jest.config.js
  lint-staged.config.js
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  public/favicon.ico
  src/common/UI/README.md
  src/common/contants.ts
  src/common/utils/blog.ts
  src/content/atomic-design-with-react.mdx
  src/modules/README.md
  src/modules/shared/README.md
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/types/mdx.d.ts
  tsconfig.json
Due: npm run format

feat(ui): typography
  .babelrc
  .gitignore
  next.config.js
  package-lock.json
  package.json
  src/common/UI/README.md
  src/common/components/Header/Header.tsx
  src/common/components/Header/index.ts
  src/common/components/Header/style.css
  src/common/components/Layout/Layout.tsx
  src/common/components/Layout/grid.css
  src/common/components/Layout/index.ts
  src/common/components/Layout/root.css
  src/common/components/Layout/typography.css
  src/common/components/index.ts
  src/common/contants.ts
  src/modules/README.md
  src/modules/shared/README.md
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  tsconfig.json
Due: npm run format

feat(homepage): about me section
  .eslintrc.json
  next.config.js
  src/common/components/AboutMe/AboutMe.module.css
  src/common/components/AboutMe/AboutMe.tsx
  src/common/components/AboutMe/index.ts
  src/common/components/DarkTheme/DarkTheme.style.css
  src/common/components/DarkTheme/DarkTheme.tsx
  src/common/components/DarkTheme/index.ts
  src/common/components/Header/Header.tsx
  src/common/components/Header/style.css
  src/common/components/Layout/grid.css
  src/common/components/Layout/typography.css
  src/common/components/index.ts
  src/content/about-me.mdx
  src/content/header.mdx
  src/pages/_app.tsx
  src/pages/blog/-[slug].tsx
  src/pages/index.tsx
Due: none

refactor(css logic): create a box component
  next.config.js
  src/common/components/AboutMe/AboutMe.module.css
  src/common/components/AboutMe/AboutMe.tsx
  src/common/components/Box/Box.style.css
  src/common/components/Box/Box.tsx
  src/common/components/Box/index.ts
  src/common/components/DarkTheme/DarkTheme.style.css
  src/common/components/DarkTheme/DarkTheme.tsx
  src/common/components/DarkTheme/index.ts
  src/common/components/Header/Header.module.css
  src/common/components/Header/Header.tsx
  src/common/components/Layout/Layout.tsx
  src/common/components/Layout/grid.css
  src/common/components/Layout/root.css
  src/common/components/index.ts
  src/pages/index.tsx
Due: none

feat(footer): add it
  .huskyrc.json
  jest.config.js
  next.config.js
  package-lock.json
  package.json
  src/@types/assets.d.ts
  src/@types/mdx.d.ts
  src/common/components/Box/Box.tsx
  src/common/components/Box/grid.module.css
  src/common/components/Box/variant.module.css
  src/common/components/Footer/Footer.module.css
  src/common/components/Footer/Footer.tsx
  src/common/components/Footer/icons/logo-behance.svg
  src/common/components/Footer/icons/logo-github.svg
  src/common/components/Footer/icons/logo-instagram.svg
  src/common/components/Footer/icons/logo-twitter.svg
  src/common/components/Footer/index.ts
  src/common/components/Layout/root.css
  src/common/components/Layout/typography.css
  src/common/components/index.ts
  src/content/about-me.mdx
  src/pages/_document.tsx
  src/pages/index.tsx
Due: npm run format

feat(grid): fits on mobile
  package-lock.json
  package.json
  src/common/components/Box/Box.tsx
  src/common/components/Box/grid.module.css
  src/common/components/Footer/Footer.module.css
  src/common/components/Header/Header.module.css
  src/common/components/Layout/typography.css
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
Due: none

feat(seo): add basic config
  .eslintrc.json
  next.config.js
  package-lock.json
  package.json
  public/favicon.ico
  src/components/AboutMe/AboutMe.module.css
  src/components/AboutMe/AboutMe.tsx
  src/components/AboutMe/index.ts
  src/components/Box/Box.tsx
  src/components/Box/grid.module.css
  src/components/Box/index.ts
  src/components/Box/variant.module.css
  src/components/Footer/Footer.module.css
  src/components/Footer/Footer.tsx
  src/components/Footer/icons/logo-behance.svg
  src/components/Footer/icons/logo-github.svg
  src/components/Footer/icons/logo-instagram.svg
  src/components/Footer/icons/logo-twitter.svg
  src/components/Footer/index.ts
  src/components/Header/Header.module.css
  src/components/Header/Header.tsx
  src/components/Header/index.ts
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/components/Layout/root.css
  src/components/Layout/typography.css
  src/components/index.ts
  src/content/base.json
  src/content/blog/atomic-design-with-react.mdx
  src/pages/_app.tsx
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/utils/blog.ts
Due: npm run format

feat(blog): list of posts
  .eslintrc.json
  lint-staged.config.js
  next.config.js
  package-lock.json
  package.json
  src/@types/mdx.d.ts
  src/components/Projects/Projects.tsx
  src/components/Projects/index.ts
  src/components/index.ts
  src/content/blog/atomic-design-with-react.mdx
  src/content/projects/advanced-blog-system-in-gatsby.mdx
  src/content/projects/atomic-design-with-react.mdx
  src/content/projects/bringing-your-blockchain-business-to-react-native.mdx
  src/content/projects/css-display-grid-and-sketch-layout.mdx
  src/content/projects/images/advanced-blog-system-in-gatsby/asset-1.png
  src/content/projects/images/advanced-blog-system-in-gatsby/asset-2.jpeg
  src/content/projects/images/atomic-design-with-react/asset-1.jpeg
  src/content/projects/images/atomic-design-with-react/asset-10.png
  src/content/projects/images/atomic-design-with-react/asset-11.png
  src/content/projects/images/atomic-design-with-react/asset-2.png
  src/content/projects/images/atomic-design-with-react/asset-3.png
  src/content/projects/images/atomic-design-with-react/asset-4.png
  src/content/projects/images/atomic-design-with-react/asset-5.png
  src/content/projects/images/atomic-design-with-react/asset-6.png
  src/content/projects/images/atomic-design-with-react/asset-7.png
  src/content/projects/images/atomic-design-with-react/asset-8.png
  src/content/projects/images/atomic-design-with-react/asset-9.png
  src/content/projects/images/bringing-your-blockchain-business-to-react-native/hero.jpeg
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-1.jpeg
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-2.png
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-3.png
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-4.jpeg
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-5.jpeg
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-6.jpeg
  src/content/projects/images/css-display-grid-and-sketch-layout/asset-7.jpeg
  src/pages/blog/[slug].tsx
  src/pages/index.tsx
  src/service/blog.ts
  src/utils/blog.ts
Due: none

refactor(blog service): use node module
  .gitignore
  package-lock.json
  package.json
  src/components/Projects/Projects.tsx
  src/content/projects/advanced-blog-system-in-gatsby.mdx
  src/content/projects/atomic-design-with-react.mdx
  src/content/projects/bringing-your-blockchain-business-to-react-native.mdx
  src/content/projects/css-display-grid-and-sketch-layout.mdx
  src/service/blog.ts
Due: none

fix(blog): mobile version
  src/components/Projects/Projects.module.css
  src/components/Projects/Projects.tsx
  src/service/projects.ts
Due: none

fix(errors): content and logs
  src/components/Layout/root.css
  src/components/Projects/partials.tsx
  src/content/projects/advanced-blog-system-in-gatsby.mdx
  src/content/projects/atomic-design-with-react.mdx
  src/content/projects/css-display-grid-and-sketch-layout.mdx
Due: none

feat(blog): post style
  src/components/AboutMe/AboutMe.module.css
  src/components/AboutMe/AboutMe.tsx
  src/components/BlogPost/BlogPost.module.css
  src/components/Box/Box.tsx
  src/components/Footer/Footer.module.css
  src/components/Header/Header.module.css
  src/components/Header/HeaderCompact.tsx
  src/components/Layout/typography.css
  src/components/Projects/Projects.tsx
  src/content/base.json
  src/content/projects/advanced-blog-system-in-gatsby.mdx
  src/content/projects/atomic-design-with-react.mdx
  src/content/projects/bringing-your-blockchain-business-to-react-native.mdx
  src/content/projects/css-display-grid-and-sketch-layout.mdx
  src/pages/blog/[slug].tsx
  src/service/projects.ts
Due: npm run format

Path conditions:
  npm run format: any of: src/**/*.{js,jsx,md,json,yml,svg}
  npm run lint: any of: src/**/*.{js,jsx}
